API.txt
[{"id":"5957c446.61c6ec","type":"debug","z":"4b61de37.e5d8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1580,"wires":[]},{"id":"6da086ee.6c5098","type":"http in","z":"4b61de37.e5d8d","name":"","url":"/graph","method":"get","upload":false,"swaggerDoc":"","x":710,"y":1340,"wires":[["224c9704.86cf28","93e160c4.1783b"]]},{"id":"ce38cdf5.d0f1a","type":"change","z":"4b61de37.e5d8d","name":"","rules":[{"t":"set","p":"val1","pt":"msg","to":"$random()*10","tot":"jsonata"},{"t":"set","p":"val2","pt":"msg","to":"$random()*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1460,"wires":[["4d357d2.4a22c84"]]},{"id":"224c9704.86cf28","type":"debug","z":"4b61de37.e5d8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1400,"wires":[]},{"id":"4d357d2.4a22c84","type":"http request","z":"4b61de37.e5d8d","name":"make request","method":"GET","ret":"txt","paytoqs":"ignore","url":"localhost:1880/graph?val1={{val1}}&val2={{val2}}","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":1520,"wires":[["5957c446.61c6ec"]]},{"id":"6a002899.d5f5d8","type":"inject","z":"4b61de37.e5d8d","name":"Generate Random val1 and val2","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"val1","v":"$random()*10","vt":"jsonata"},{"p":"val2","v":"$random()*100","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":1400,"wires":[["4d357d2.4a22c84"]]},{"id":"983483ee.37632","type":"comment","z":"4b61de37.e5d8d","name":"REST APIs: pass muyltiple parameters","info":"","x":570,"y":1200,"wires":[]},{"id":"93e160c4.1783b","type":"function","z":"4b61de37.e5d8d","name":"","func":"var msg1 = {};\nvar msg2 = {};\n\n\nmsg1.payload = msg.payload.val1;\nmsg1.topic = \"Humidity\";\n\nmsg2.payload = msg.payload.val2;\nmsg2.topic = \"Temperature\";\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":700,"y":1447,"wires":[["d4f10bbe.74e9a8","6956865d.2446a8"],["d4f10bbe.74e9a8","6956865d.2446a8"]]},{"id":"d4f10bbe.74e9a8","type":"debug","z":"4b61de37.e5d8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":1440,"wires":[]},{"id":"6956865d.2446a8","type":"ui_chart","z":"4b61de37.e5d8d","name":"","group":"606c62d4.b48e5c","order":0,"width":"23","height":"10","label":"Grafico Temp & Hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#5ace5a","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":1500,"wires":[[]]},{"id":"c3f5eafc.e07db8","type":"ui_button","z":"4b61de37.e5d8d","name":"","group":"606c62d4.b48e5c","order":1,"width":0,"height":0,"passthru":false,"label":"Generate Random Temperature and Humidity","tooltip":"","color":"","bgcolor":"","icon":"restore","payload":"","payloadType":"str","topic":"","x":290,"y":1340,"wires":[["ce38cdf5.d0f1a"]]},{"id":"69164388.01de3c","type":"comment","z":"4b61de37.e5d8d","name":"Request","info":"","x":410,"y":1280,"wires":[]},{"id":"5cf373ec.c42c7c","type":"comment","z":"4b61de37.e5d8d","name":"Graphic","info":"","x":690,"y":1280,"wires":[]},{"id":"606c62d4.b48e5c","type":"ui_group","name":"Default","tab":"d28f2981.783748","order":2,"disp":true,"width":"26","collapse":false},{"id":"d28f2981.783748","type":"ui_tab","name":"Graf","icon":"dashboard","disabled":false,"hidden":false}]
