Flow.txt
[{"id":"5e75b85c.f6a4","type":"mqtt in","z":"90bf249.1f822d8","name":"","topic":"/itsData","qos":"2","datatype":"json","broker":"87c2f4e9.f065f8","nl":false,"rap":true,"rh":0,"x":250,"y":620,"wires":[["9ef1130d.073868","f968e4f0.9e6a28"]]},{"id":"55f40bcb.28f9bc","type":"ui_chart","z":"90bf249.1f822d8","name":"","group":"2b94dec4.021412","order":0,"width":0,"height":0,"label":"Temperatura Acquedotto 5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":600,"wires":[[]]},{"id":"1f6a808.020a28","type":"ui_toast","z":"90bf249.1f822d8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"notifica Acquedotto","x":730,"y":680,"wires":[]},{"id":"9ef1130d.073868","type":"function","z":"90bf249.1f822d8","name":"","func":"let name = msg.payload.name\n\nmsg.payload = msg.payload.temp\n\nlet array_return = new Array(5)\n\narray_return[parseInt(name.slice(-1))-1] = msg\n\nreturn array_return\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":580,"wires":[["46fc1786.6069f"],["72fd9932.47413"],["4aef2049.1f2fc8"],["6d2b793.a1c7a08"],["55f40bcb.28f9bc"]]},{"id":"bfc1abd2.adea48","type":"function","z":"90bf249.1f822d8","name":"","func":"flow.set(\"temp_max\", msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":760,"wires":[[]]},{"id":"f968e4f0.9e6a28","type":"function","z":"90bf249.1f822d8","name":"","func":"msg.topic = msg.payload.name\nif(!flow.get(\"temp_max\")) flow.set(\"temp_max\", 45)\nif(!flow.get(\"temp_min\")) flow.set(\"temp_min\", -5)\n\nif(msg.payload.temp > flow.get(\"temp_max\")) {\n    \n    msg.payload = \"ATTENZIONE, Temperatura dell'\" + msg.topic + \", maggiore di \" +\n    flow.get(\"temp_max\") + \"\\n Temperatura attuale, \" + \n    msg.payload.temp\n    \n    return msg\n    \n}\n\nif (msg.payload.temp < flow.get(\"temp_min\")) {\n    msg.payload = \"ATTENZIONE, Temperatura dell'\" + msg.topic + \", minore di \" + \n     flow.get(\"temp_min\") + \"\\n Temperatura attuale \" + \n    msg.payload.temp\n    \n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":680,"wires":[["1f6a808.020a28","ace72bc7.410db"]]},{"id":"81df5db9.ae9e38","type":"inject","z":"90bf249.1f822d8","name":"","props":[{"p":"payload.temp","v":"temp","vt":"str"},{"p":"payload.name","v":"Acquedotto","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":"5","topic":"","x":150,"y":480,"wires":[["913863ac.0dbcc8"]]},{"id":"913863ac.0dbcc8","type":"function","z":"90bf249.1f822d8","name":"","func":"msg.payload.temp = Math.floor(Math.random() * 61) - 10\nmsg.payload.name = \"Acquedotto \" + (Math.floor(Math.random() * 5) + 1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":480,"wires":[["9ef1130d.073868","f968e4f0.9e6a28","ed5a3168.053e78"]]},{"id":"4ff330ff.493238","type":"ui_slider","z":"90bf249.1f822d8","name":"","label":"Temp_max","tooltip":"","group":"2b94dec4.021412","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":330,"y":760,"wires":[["bfc1abd2.adea48"]]},{"id":"61cc7122.201a6","type":"ui_slider","z":"90bf249.1f822d8","name":"","label":"Temp_min","tooltip":"","group":"2b94dec4.021412","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"-20","max":"30","step":1,"x":330,"y":840,"wires":[["da203b5b.d39f2"]]},{"id":"da203b5b.d39f2","type":"function","z":"90bf249.1f822d8","name":"","func":"flow.set(\"temp_min\", msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":840,"wires":[[]]},{"id":"6d2b793.a1c7a08","type":"ui_chart","z":"90bf249.1f822d8","name":"","group":"2b94dec4.021412","order":0,"width":0,"height":0,"label":"Temperatura Acquedotto 4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":560,"wires":[[]]},{"id":"4aef2049.1f2fc8","type":"ui_chart","z":"90bf249.1f822d8","name":"","group":"2b94dec4.021412","order":0,"width":0,"height":0,"label":"Temperatura Acquedotto 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":520,"wires":[[]]},{"id":"72fd9932.47413","type":"ui_chart","z":"90bf249.1f822d8","name":"","group":"2b94dec4.021412","order":0,"width":0,"height":0,"label":"Temperatura Acquedotto 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":480,"wires":[[]]},{"id":"46fc1786.6069f","type":"ui_chart","z":"90bf249.1f822d8","name":"","group":"2b94dec4.021412","order":0,"width":0,"height":0,"label":"Temperatura Acquedotto 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":440,"wires":[[]]},{"id":"ed5a3168.053e78","type":"debug","z":"90bf249.1f822d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":440,"wires":[]},{"id":"ace72bc7.410db","type":"ui_audio","z":"90bf249.1f822d8","name":"","group":"2b94dec4.021412","voice":"urn:moz-tts:sapi:Microsoft Elsa Desktop - Italian (Italy)?it-IT","always":"","x":680,"y":740,"wires":[]},{"id":"87c2f4e9.f065f8","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2b94dec4.021412","type":"ui_group","name":"Regolazione e controllo Temperatura","tab":"efd05648.26f538","order":1,"disp":true,"width":"20","collapse":false},{"id":"efd05648.26f538","type":"ui_tab","name":"Acquedotti","icon":"dashboard","disabled":false,"hidden":false}]
