MQTT.txt
[{"id":"3d85a42c.8db86c","type":"mqtt out","z":"4b61de37.e5d8d","name":"","topic":"/itsData","qos":"","retain":"","broker":"abf1da65.1b0658","x":960,"y":40,"wires":[]},{"id":"511b1b5.8cc03e4","type":"inject","z":"4b61de37.e5d8d","name":"Cappuccini","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"01\",\"name\":\"Sonda Monte Dei Cappuccini\",\"temp\":24,\"hum\":50,\"lat\":45.06004,\"lon\":7.69803}","payloadType":"json","x":570,"y":80,"wires":[["f250155f.598c08"]]},{"id":"f250155f.598c08","type":"change","z":"4b61de37.e5d8d","name":"","rules":[{"t":"set","p":"payload.hum","pt":"msg","to":"$random()*40","tot":"jsonata"},{"t":"set","p":"payload.temp","pt":"msg","to":"$random()*20","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":100,"wires":[["57ca31d1.97725","3d85a42c.8db86c"]]},{"id":"57ca31d1.97725","type":"debug","z":"4b61de37.e5d8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":100,"wires":[]},{"id":"6754c313.8e896c","type":"inject","z":"4b61de37.e5d8d","name":"Bela rosina","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"02\",\"name\":\"Mausoleo Della Bella Rosina\",\"temp\":24,\"hum\":50,\"lat\":45.01005,\"lon\":7.63749}","payloadType":"json","x":570,"y":140,"wires":[["f250155f.598c08"]]},{"id":"abf1da65.1b0658","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
