Notification.txt
[{"id":"a974fecd.deb7b","type":"debug","z":"58ffebd5.39b584","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1650,"y":480,"wires":[]},{"id":"7b382222.b3ac6c","type":"mqtt in","z":"58ffebd5.39b584","name":"","topic":"/itsData","qos":"2","datatype":"json","broker":"abf1da65.1b0658","x":1500,"y":480,"wires":[["a974fecd.deb7b","b825163.68271e8"]]},{"id":"512a67a2.3ce848","type":"ui_chart","z":"58ffebd5.39b584","name":"","group":"9040f4c2.9f7188","order":0,"width":"19","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1630,"y":620,"wires":[[]]},{"id":"b825163.68271e8","type":"switch","z":"58ffebd5.39b584","name":"","property":"payload.aperto","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":560,"wires":[["6154640a.23776c","186d0a37.e12bf6"]]},{"id":"6154640a.23776c","type":"debug","z":"58ffebd5.39b584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1850,"y":560,"wires":[]},{"id":"2e8251af.c8b35e","type":"ui_toast","z":"58ffebd5.39b584","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1990,"y":620,"wires":[]},{"id":"186d0a37.e12bf6","type":"change","z":"58ffebd5.39b584","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATTENZIONE!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":680,"wires":[["2e8251af.c8b35e","a2c13854.335ea8"]]},{"id":"a2c13854.335ea8","type":"debug","z":"58ffebd5.39b584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2030,"y":700,"wires":[]},{"id":"abf1da65.1b0658","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9040f4c2.9f7188","type":"ui_group","name":"graph","tab":"563147e.42411b8","order":3,"disp":true,"width":"20","collapse":false},{"id":"563147e.42411b8","type":"ui_tab","name":"Calculator!","icon":"dashboard","disabled":false,"hidden":false}]
