SoglieGrafici.txt
[{"id":"3aaf7c83.116614","type":"ui_slider","z":"4b61de37.e5d8d","name":"","label":"slider","tooltip":"","group":"235e1311.5fbacc","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"50","step":1,"x":350,"y":700,"wires":[["fa7f812b.8aea6","37d2648b.f9bbfc"]]},{"id":"fa7f812b.8aea6","type":"ui_text","z":"4b61de37.e5d8d","group":"235e1311.5fbacc","order":1,"width":0,"height":0,"name":"","label":"Soglia","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":760,"wires":[]},{"id":"d0fcac20.8767","type":"switch","z":"4b61de37.e5d8d","name":"","property":"temp","propertyType":"flow","rules":[{"t":"lt","v":"payload.temp","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":560,"wires":[["842ac0e0.2cc14","38a5445c.34619c"]]},{"id":"8d2ab74f.c5f3a8","type":"change","z":"4b61de37.e5d8d","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["66d87476.b5ab2c"]]},{"id":"66d87476.b5ab2c","type":"debug","z":"4b61de37.e5d8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":220,"wires":[]},{"id":"842ac0e0.2cc14","type":"debug","z":"4b61de37.e5d8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":560,"wires":[]},{"id":"c1fd2072.192f6","type":"mqtt in","z":"4b61de37.e5d8d","name":"","topic":"/itsData","qos":"2","datatype":"json","broker":"87c2f4e9.f065f8","x":230,"y":400,"wires":[["8d2ab74f.c5f3a8","2b6bc272.b7669e","b1edaa6d.daab78","182c5d44.fdc543","80f68b0.f721a78","d240e6cf.dcbde8"]]},{"id":"2b6bc272.b7669e","type":"debug","z":"4b61de37.e5d8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":280,"wires":[]},{"id":"37d2648b.f9bbfc","type":"change","z":"4b61de37.e5d8d","name":"Pass the Value to Flow Context","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":700,"wires":[["842e8efd.7a08c"]]},{"id":"97ce72c.474139","type":"inject","z":"4b61de37.e5d8d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":210,"y":700,"wires":[["3aaf7c83.116614"]]},{"id":"842e8efd.7a08c","type":"debug","z":"4b61de37.e5d8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":740,"wires":[]},{"id":"4b511405.eaf9bc","type":"comment","z":"4b61de37.e5d8d","name":"Storing the Slider Value in a Flow Variable","info":"","x":340,"y":640,"wires":[]},{"id":"b1edaa6d.daab78","type":"switch","z":"4b61de37.e5d8d","name":"Is Bela Rosin?","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"02","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":560,"wires":[["d0fcac20.8767"]]},{"id":"182c5d44.fdc543","type":"ui_worldmap","z":"4b61de37.e5d8d","group":"9fa66610.d854a8","order":10,"width":0,"height":0,"name":"","lat":"45.0703","lon":"7.6869","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":440,"y":340,"wires":[]},{"id":"82484774.87de08","type":"ui_chart","z":"4b61de37.e5d8d","name":"","group":"9fa66610.d854a8","order":11,"width":"17","height":"2","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":420,"wires":[[]]},{"id":"71c07c46.ed3874","type":"change","z":"4b61de37.e5d8d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Temperatura Monde dei Cappuccini","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":420,"wires":[["82484774.87de08","c36cbcd3.ad10a"]]},{"id":"80f68b0.f721a78","type":"switch","z":"4b61de37.e5d8d","name":"Monte Dei Cappuccini","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"01","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":420,"wires":[["71c07c46.ed3874","cddfa893.5d1d38"]]},{"id":"c36cbcd3.ad10a","type":"debug","z":"4b61de37.e5d8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":360,"wires":[]},{"id":"97ceedba.a64c6","type":"ui_chart","z":"4b61de37.e5d8d","name":"","group":"9fa66610.d854a8","order":12,"width":"17","height":"2","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":460,"wires":[[]]},{"id":"cddfa893.5d1d38","type":"change","z":"4b61de37.e5d8d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Umidità Monde dei Cappuccini","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":460,"wires":[["97ceedba.a64c6"]]},{"id":"8ac4c101.4257e","type":"ui_toast","z":"4b61de37.e5d8d","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":930,"y":520,"wires":[]},{"id":"38a5445c.34619c","type":"change","z":"4b61de37.e5d8d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attenzione","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":520,"wires":[["8ac4c101.4257e"]]},{"id":"d240e6cf.dcbde8","type":"ui_chart","z":"4b61de37.e5d8d","name":"","group":"9fa66610.d854a8","order":13,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":620,"y":320,"wires":[[]]},{"id":"24400224.648c9e","type":"ui_text_input","z":"4b61de37.e5d8d","name":"","label":"","tooltip":"","group":"5fadac3b.a96df4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":790,"y":300,"wires":[["a4c03fae.86f85"]]},{"id":"a4c03fae.86f85","type":"ui_text","z":"4b61de37.e5d8d","group":"5fadac3b.a96df4","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":260,"wires":[]},{"id":"235e1311.5fbacc","type":"ui_group","name":"Text Example","tab":"563147e.42411b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"87c2f4e9.f065f8","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9fa66610.d854a8","type":"ui_group","name":"NEW","tab":"563147e.42411b8","order":1,"disp":true,"width":"17","collapse":false},{"id":"5fadac3b.a96df4","type":"ui_group","name":"Testi","tab":"563147e.42411b8","order":4,"disp":true,"width":"12","collapse":false},{"id":"563147e.42411b8","type":"ui_tab","name":"Calculator!","icon":"dashboard","disabled":false,"hidden":false}]
